.content {
	width: 100%;
}

.build {
	margin: 0 0 0.5em 0;
	width: 100%;
	font-size: 2.5em;
	padding: 0 0.5em 0 0.5em;
	width: 100%;
	border-radius: 5px;
	line-height: 2em;
	font-weight: normal;
}

.build-unstable {
	background-color: #F39C12;
}

.build-aborted {
    background-color: #F39C12;
}

.build-failure {
	background-color: #F22613;
}

.build-success {
	background-color: #00B16A;
}

.build-time {
	font-weight: normal;
	font-size: 0.4em;
	float: right;
}
